@model DBPlatform_v1._0.Models.Book
@{
    Layout = null;
}


<h2>Книга № @Model.Id</h2>
@Html.DisplayForModel()
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BookView</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
